{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Story 7</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/story7.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{% static 'js/story7.js' %}"></script>
</head>

<body>
    <h1 align = "center">Hello! I'm Farah Husna Nabilah</h1>
    <p align = "center">Are you curious about me? just click the border below!</p>
    <br>
    <div class="accordion-container">
        <div id="activity" class="set">
            <a href="#" class="bar d-flex justify-content-between">
                Activities
                <div>
                    <button class="up btn btn-outline-dark px-2 rounded-pill scroll-top"> Up </button>
                    <button class="down btn btn-outline-dark px-2 rounded-pill scroll-top"> Down </button>
                </div>
            </a>
    
            <div class="content">
                <li>Studying</li>
                <li>Meeting</li>
                <li>Prepare for another experiences</li>
                <li>Doing task assignment</li>
                <li>Fangirling</li>
                <li>Exercising regularly</li>
                <li>Cooking</li>
                <li>Watching Youtube and Netflix</li>
                <li>Eating and Drinking</li>
                <li>Sleeping</li>
                <br>
            </div>
        </div>
    
        <div id="experience" class="set">
            <a href="#" class="bar d-flex justify-content-between">
                Experiences
                <div>
                    <button class="up btn btn-outline-dark px-2 rounded-pill scroll-top"> Up </button>
                    <button class="down btn btn-outline-dark px-2 rounded-pill scroll-top"> Down </button>
                </div>
            </a>
            
            <div class="content">
                <li>VPIC of Public Relation and Parternship at BETIS Fasilkom 2021</li>
                <li>Staff of Public Relation at BEM Fasilkom UI 2020</li>
                <li>Staff of Relation at Wisuda Fasilkom UI 2020</li>
                <li>PIC of Public Relation and Publication at Pemira Fasilkom UI 2020</li>
                <li>HRD of Fundraising at COMPFEST 12</li>
                <li>Staff of Mentor Division At OKK UI 2020</li>
                <li>Public Relation Staff at Sekolah BEM Fasilkom UI 2019</li>
                <li>Public Relation and Publication Staff at Pemira Fasilkom UI 2019</li>
                <li>Public Relation Staff at Gathering Syntax 2019 </li>
                <br>
            </div>
        </div>
    
        <div id="sospro" class="set">
            <a href="#" class="bar d-flex justify-content-between">
                Social Projects
                <div>
                    <button class="up btn btn-outline-dark px-2 rounded-pill scroll-top"> Up </button>
                    <button class="down btn btn-outline-dark px-2 rounded-pill scroll-top"> Down </button>
                </div>
            </a>
            
            <div class="content">
                <li>Positive Internet Care for the Future</li>
                <li>Peduli Sesama</li>
                <li>Sekolah Singgah</li>
                <br>
            </div>
        </div>
    
        <div id="buspro" class="set">
            <a href="#" class="bar d-flex justify-content-between">
                Business Projects
                <div>
                    <button class="up btn btn-outline-dark px-2 rounded-pill scroll-top"> Up </button>
                    <button class="down btn btn-outline-dark px-2 rounded-pill scroll-top"> Down </button>
                </div>
            </a>
        
            <div class="content">
            <li>Founder of Brownies Asik</li>
            <li>Founder of Triplet Dessert</li>
            <br>
            </div>
        </div>
        
        <div id="achievement" class="set">
            <a href="#" class="bar d-flex justify-content-between">
               Achievements
                <div>
                    <button class="up btn btn-outline-dark px-2 rounded-pill scroll-top"> Up </button>
                    <button class="down btn btn-outline-dark px-2 rounded-pill scroll-top"> Down </button>
                </div>
            </a>
        
            <div class="content">
            <li>Runner Up 1 at Choir Competition</li>
            <li>Received the B predicate at the national level mathematics olympiad</li>
            <br>
            </div>
        </div>
</body>
</html>