{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 9</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}">
</head>

<body>
    <br>
    <br>
    <br>
    <section id="index">
        {% if user.is_authenticated %}
        <div class="title"> Welcome, {{ user.username }}! <br> Have a nice day!</div>
        <div> {{ user.profile.bio }} </div>

        <br>
        <div>
            <a href="/story9/update" class="up btn btn-outline-dark px-2 rounded-pill scroll-top" name="profile">Edit Profile</a>
        </div>
       <br>
       <div>
            <a href="/story9/logout" class="up btn btn-outline-dark px-2 rounded-pill scroll-top" name="logout">Log out</a>
       </div>
    
        {% else %}
        <div class="title"> WELCOME EVERYONE! </div>
        <div class=""> Don't have an account? Sign up here </div>
        <br>
       <div> <a href="/story9/signup" class="up btn btn-outline-dark px-2 rounded-pill scroll-top" name="signup">Sign Up</a> </div>
       <br>
        <div class=""> Already have an account? Login here </div>
        <br>
       <div> <a href="/story9/login" class="up btn btn-outline-dark px-2 rounded-pill scroll-top" name="login">Log In</a> </div>
        {% endif %}
    </section>
    
</body>

</html>