{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 9</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}">
</head>

<body>
    <section id="style1" style="background-color: #89CCF7">
    {% for message in messages %}
    <script>
        alert("{{ message }}")
    </script>
    {% endfor %}

    {% if user.is_authenticated %}

    <div class="font1 "> Edit Profile </div>

    <form action="" method="POST">
        {% csrf_token %}
        <br>
        <div>
            <p>Email:</p>
            <input id="email" name="email" type="email" value="{{user.email}}" required> 
        </div>
        <br>
    
        <div>
            <p>Description:</p>
            <input id="bio" name="bio" type="text" value="{{user.profile.bio}}">
        </div>
        <br>
    
        <input type="hidden" name="id" value="{{ user.id }}">
        <input type="submit" value="Save" class="up btn btn-outline-dark px-2 rounded-pill scroll-top" id="update">
    </form>
    {% else %}
    <h2> You haven't logged in yet </h2>
    <p> Log in to update your profile </p>
    <a href="/story9/login" class="btn btn-primary">Login</a>
    {% endif %}
</section>
</body>
</html>