@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    height: 100%;
}

body {
    height: 100%;
    color: #0b3550;
    background-color: #89CCF7;
}

a{
    font-family:'Kanit';
    font-size:20px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Rubik';
    font-weight: bold;
}

li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: #fff;
}

.btn {
	background-color: #023a53;
	font-size:12px;
	margin: 2px 0px 2px 0px;
	
}

/*ACCORDION*/

.accordion-container{
  position: relative;
  max-width: 60vw;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #30475e;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  background-color:#ffffff;
  color: #30475e;
}
.content {
  background-color: #30475e;
  border: 1px solid #30475e;
  display:none;
}


button.up, button.down {
  background-color:#fff;
  color:#30475e;
  font-size:18px;
   font-family: "Poppins";
}

.active .up, .active .down {
  background-color: #30475e;
  color:#f7fbff;
  font-family: "Poppins";
}