@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    height: 100%;
    color: #0b3550;
    background-color: #89CCF7;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'kanit';
    font-weight: bold;
}

.input {
  box-sizing: border-box;
  border: 2px solid#0b3550;
  border-radius: 5px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 10px 10px 10px;

}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
}
